<section class="container-static">
  <section class="card-container">

    <div class="card-header-name market-show">
      <img src=<%= @market.logo_url %> />
      <h1><%=@market.name%></h1>
    </div>
    <div class="card-container-stats">
      <div>
        <h1><%= number_to_currency(@buy_value, unit: 'PHP ') %></h1>
        <h5>Buy</h5>
      </div>
      <div>
        <h1><%= number_to_currency(@sell_value, unit: 'PHP ') %></h1>
        <h5>Sell</h5>
      </div>
    </div>

    <div class="card-container-stats">
      <div>
        <h3><%= format_to_peso(@wallet.balance) %></h3>
        <h3>Balance</h3>
      </div>
      <div>
        <h3><%= @current_stock.nil? ? 0.00 : @current_stock.units %></h3>
        <h3>Stocks</h3>
      </div>
    </div>

      <div class="card-container-transaction">
        <%= form_with scope: :portfolio, model: [@portfolio.user, @portfolio], local: true do |f| %>
          <div class="field">
            <%= f.number_field :user_id, value: current_user.id, type: :hidden%>
            <%= f.text_field :market_symbol, value: @market.market_symbol, type: :hidden  %>
            <%= f.number_field :amount, autofocus: true, placeholder: "Price", step: :any, min: 0.1, :required => true %>
            <%= f.number_field :hist_price, value: @buy_value, type: :hidden  %>
            <%= f.text_field :transaction_type, value: 'BUY', type: :hidden %>
            <%= f.number_field :market_id, value: @market.id, type: :hidden %>
          </div>
          <div class="actions">
            <%= f.submit "Buy", class: 'transaction-buy', data: { confirm: "PLEASE CONFIRM BUY" } %>
          </div>
        <% end %>

        <%= form_with scope: :portfolio, model: [@portfolio.user, @portfolio], local: true do |f| %>
          <div class="field">
            <%= f.number_field :user_id, value: current_user.id, type: :hidden%>
            <%= f.text_field :market_symbol, value: @market.market_symbol, type: :hidden  %>
            <%= f.number_field :hist_price, value: @sell_value, type: :hidden  %>
            <%= f.number_field :units, placeholder: "Sell in Unit", step: :any %> 
            <%= f.text_field :transaction_type, value: 'SELL', type: :hidden %>
            <%= f.number_field :market_id, value: @market.id, type: :hidden %>
          </div>
          <div class="actions">
            <%= f.submit "Sell", class: 'transaction-sell', data: { confirm: "PLEASE CONFIRM SELL" } %>
          </div>
        <% end %>
      </div>
  </section>
</section>
