<section class="container-static">
  <section class="card-container">
    <div class="card-header-name">
      <h1><%=@markets.market_symbol%></h1>
    </div>
    <div class="card-container-stats">
      <div>
        <h1><%= current_price(@markets.curr_price, true) %></h1>
        <h5>Buy</h5>
      </div>
      <div>
        <h1><%= current_price(@markets.curr_price, false) %></h1>
        <h5>Sell</h5>
      </div>
    </div>
      <% @wallets.each do |wallet| %>
      <% if wallet.id == current_user.id %>
    <div class="card-container-transaction">
      <%= form_with scope: :portfolio, model: [@portfolio.user, @portfolio], local: true do |f| %>
        <div class="field">
          <%= f.number_field :user_id, value: current_user.id, type: :hidden%>
          <%= f.text_field :market_symbol, value: @markets.market_symbol, type: :hidden  %>
          <%= f.number_field :hist_price, autofocus: true, placeholder: "Price", step: :any, max: wallet.balance %>
          <%#= f.number_field :amount, placeholder: "Amount", step: :any %>
          <%= f.number_field :market_id, value: @markets.id, type: :hidden %>
        </div>
        <div class="actions">
          <%= f.submit "Buy", class: 'transaction-buy' %>
        </div>
      <% end %>

      <%= form_with scope: :portfolio, model: [@portfolio.user, @portfolio], local: true do |f| %>
        <div class="field">
          <%= f.number_field :user_id, value: current_user.id, type: :hidden%>
          <%= f.text_field :market_symbol, value: @markets.market_symbol, type: :hidden  %>
          <%= f.number_field :hitst_price, autofocus: true, placeholder: "Price", step: :any %>
          <%#= f.number_field :amount, placeholder: "Amount", step: :any %>
          <%= f.number_field :market_id, value: @markets.id, type: :hidden %>
        </div>
        <div class="actions">
          <%= f.submit "Sell", class: 'transaction-sell' %>
        </div>
      <% end %>
    </div>
      <% end %>
      <% end %>
  </section>
</section>
