<section class="container-static">
  <section class="card-container">
    <div class="card-header-name"> 
      <h1>Account Information</h1>
    </div>
    <div class="card-container-stats">
      <div>
        <h3><%= format_to_peso(@wallet.balance) %></h3>
        <h3>Balance</h3>
      </div>
      <div>
        <h3><%= format_to_peso(get_total_profit_loss(@portfolios)) %></h3>
        <h3>Total Revenue</h3>
      </div>
    </div>
    
    <div class="card-container-table">
      <%# data headers %>
      <div class="card-item user headers">
        <h5 class="market-logo market-data">Market Name</h5>
        <h5 class="market-data"></h5>
        <h5 class="default">Symbol</h5>
        <h5 class="default">Units</h5>
        <h5>Total Revenue</h5>
        <h5 class="default">Action</h5>
      </div>

      <% @portfolios.each do |portfolio| %>
      <div class="card-item user">
        <div class="market-logo market-data">
          <img src=<%= get_logo_url(portfolio.market_symbol) %> />
        </div>
        <h5 class="" ><%= get_market_name(portfolio.market_symbol) %></h5>
        <h5 class="default market-data"><%= portfolio.market_symbol %></h5>
        <h5 class="default"><%= portfolio.units.round(4) %></h5>
        <h5><%= format_to_peso(get_profit_or_loss(portfolio)[:profit_or_loss_gross_val])%></h5>
        <%= link_to "View", new_user_portfolio_path(user_id:current_user, market_id:portfolio.market_id), class: "link-card-action default" %>
      </div>
      <% end %>
    </div>
  </section>
</section>
