<section class="container-static">
  <section class="card-container">
    <div class="card-header-name"> 
      <h1>Account Information</h1>
    </div>
    <div class="card-container-stats">
      <div>
        <h3><%= format_to_peso(@wallet.balance) %></h3>
        <h3>Balance</h3>
      </div>
      <div>
        <h3>Php 5, 123.00</h3>
        <h3>P/L</h3>
      </div>
      <div>
        <h3>Php 135, 123.00</h3>
        <h3>Value</h3>
      </div>
    </div>
    
    <div class="card-container-table">
      <%# data headers %>
      <div class="card-item user headers">
        <h5>Type</h5>
        <h5 class="default">Market</h5>
        <h5 class="default">Units</h5>
        <h5>Invested</h5>
        <h5>P/L (%)</h5>
        <h5>P/L (Php)</h5>
        <h5>Total</h5>
        <h5 class="default">Action</h5>
      </div>

      <% @portfolios.each do |portfolio| %>
      <div class="card-item user">
        <h5><%= portfolio.transaction_type%></h5>
        <h5 class="default"><%= portfolio.market_symbol %></h5>
        <h5 class="default"><%= portfolio.units %></h5>
        <h5><%= format_to_peso(portfolio.amount)%></h5>
        <h5><%= get_profit_or_loss(portfolio)[:profit_or_loss_pct] %></h5>
        <h5><%= get_profit_or_loss(portfolio)[:profit_or_loss_pct] %></h5>
        <h5><%= get_profit_or_loss(portfolio)[:profit_or_loss_gross_val] %></h5>
        <%= link_to "View", new_user_portfolio_path(user_id:current_user, market_id:portfolio.market_id), class: "link-card-action default" %>
      </div>
      <% end %>
    </div>
  </section>
</section>
